@import "src/styles/mixins";

.loader{
    @include flex-center($flex-direction: column);
    gap: 1rem;
    background: rgba(white, 0.99);
    z-index: 1000;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    .imgContainer{
        img{
            width: 8rem;
            height: 8rem;
        }
    }

}

.loader.hidden {
    display: none;
}
