@import "src/styles/mixins";

.loader{
    @include flex-center();
    background: rgba(red, 0.4);
    z-index: 1000;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader.hidden {
    display: none;
}
