@import "src/styles/mixins";

.projectCard{
    padding: 1rem;
    border-radius: .5rem;
    background: beige;
    height: 6rem;
    position: relative;

    @include flex-center($justify-content: space-between);


    &:hover{
       cursor: pointer;
    }

    .deleteButton{
        position: absolute;
        top: 0;
        right: 0;
    }
}
