@import "src/styles/mixins";

.sideBySideMode{
  display: flex;
  gap: 2rem;
  width: calc(100vw - 20px);
  justify-content: space-evenly;
  .column{


    img {
      border: 1px solid black;
      padding: 1rem;
      max-width: 100%;
      align-self: start;
      object-fit: contain;
    }
  }
}

